body{
  background-image: url('../../images/main/a.jpg');
  background-size: 82%;
  
}

h3{
    margin: 20px;
    text-align: center;
  }
  form{
    margin: 20px 0 0 0;
  }
  .btn-primary{
    display: block;
    margin: auto;
  }
.form-control{
  display: block;
  margin:auto;
  width:531px;
}
.la{
  display: block;text-align: center;
}
small{
  text-align: center;
}
.alert{
  text-align: center;
}
                        /* form style */
    form{
      opacity: 0.5;
        width: 80%;
        margin: auto;
        margin-top: 90px;
        border: 3px solid black;
        background-color:  rgb(57, 54, 58);
        color: red;
    }
    .form-control{
        width:497px;
        margin-top: 10px;
    }
    .la{
        margin-top: 22px;
    }
    #name ,#email, #mobile{
        width:292px;
    }
    #textNotes{
        width:1121px;
    }
    #save{
      margin-top: 20px;
      margin-bottom: 20px;
    }
    h2{
      text-align: center;
      margin-top: 20px;
    }